name: CI
on:
  push:
      paths-ignore:
      - '**/*.md'
  pull_request:
      paths-ignore:
      - '**/*.md'

jobs:
  test:
    name: Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 24
          - 22
          - 20
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: cd cli && npm install
      - run: cd cli && npm test
